.bgcert {
    background-color: #f5fdff !important;

}

.bgskills {
    background-color: #ffffff !important;
}



  
.rounded {
    border-radius: 0.5rem !important;
}

@media (max-width: 900px) {
    .img-thumbnail {
        width: 100%;
    }

    .text-start {
        text-align: center;
    }
}


.about-text{
    font-family: "Helvetica", Arial, sans-serif !important;;
    font-size: 1rem;
}